<div class="card-back-page">

    <div class="deck-name-score">
      <h2>DECK: {{deck.deckName}}</h2>
      <h2>SCORE: {{score}}</h2>
    </div>

    <div class="card-box">
      <h4>Front</h4>

      <div class="card-box-question">
        <h2>{{question}}</h2>
        <h2><strong>{{answer}}</strong></h2>
      </div>

      <form class="next-card" action="/nextCard" method="post">
        <input type="submit" name="result" value="Right">
        <input type="submit" name="result" value="Wrong">
      </form>
    </div>

    <div class="card-number">
      <h2>Card: {{cardNum}} of {{deckSize}}</h2>
    </div>

</div>
