<div class="card-front-page">

  <div class="deck-name-score">
    <div class="deck-name">
      <h2>{{deck.deckName}}</h2>
    </div>

    <div class="scoreboard">
      <h3>Score:</h3>
      <h3>{{score}}</h3>
    </div>
  </div>

    <div class="card-box">
      <h4>Front</h4>

      <div class="card-box-info">
        <div class="card-box-question">
          <h2>{{question}}</h2>
        </div>
      </div>

      <form class="flip-the-card" action="/flipTheCard" method="post">
        <button id="flip-button" type="submit" name="flipButton">Flip the card!</button>
      </form>
    </div>

    <div class="card-number">
      <h4>Card: {{cardNum}} of {{deckSize}}</h4>
    </div>

</div>
