<div class="complete-page">
  <h2>{{deck.deckName}} Deck is Complete!</h2>
  <h4>Final Score: {{score}} of {{deckSize}}</h4>

  <div class="play-again">
    <h3>Great Job!</h3>
    Play Again!
  </div>
</div>
