<div class="homepage">

  <div class="current-decks">
    <h2>Hello {{user.username}}, select one of your current decks:</h2>

    <div class="decks-display">
      <!-- display current decks here -->
      {{#decks}}
      <div class="deck-each">
        <a href="/deck/{{_id}}"><h2>{{deckName}}</h2></a>
      </div>
      {{/decks}}

    </div>
  </div>

  <div class="new-deck">
    <form class="" action="/newDeck" method="post">
      <label for="deckName">Build a new deck: </label>
      <input type="text" name="deckName" value="" placeholder="enter deck name">
      <!-- <label for="deckImage">Image for deck:</label>
      <input type="file" name="deckImage" value="" accept="image/*"> -->
      <button type="submit" name="submitButton">Create</button>
    </form>
  </div>
</div>
