<div class="homepage">

  <div class="current-decks">
    <h2>Hello {{user.username}}, select one of your decks:</h2>

    <div class="decks-display">
      {{#decks}}
      <div class="deck-each">
        <a href="/deck/{{_id}}"><h2>{{deckName}}</h2></a>
      </div>
      {{/decks}}

      {{^decks}}
      <div class="deck-each">
        <h2>Add a deck to get started!</h2>
      </div>
      {{/decks}}

    </div>
  </div>

  <div class="new-deck">
    <form class="" action="/newDeck" method="post">
      <label for="deckName"><h4>Build a new deck: </h4></label>
      <input type="text" name="deckName" value="" placeholder="enter deck name">
      <button type="submit" name="submitButton">Create</button>
    </form>
  </div>
</div>
